<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="SeleniumAutomationSuite" parallel= "classes" thread-count="2">
    <test name="SeleniumAutomationTests">
        <classes>
            <class name = "apiCode.GetAPI"/>
            <class name="apiCode.PostAPI"/>
            <class name="apiCode.PutAPI"/>
        </classes>
    </test>
</suite>